name: Deployment
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: using my custom action for install and cache deps
        id: cache-deps
        uses: ./.github/actions/installing-caching-deps
        with:
          caching: 'false'
      - name: Output Info
        run: echo "Cache used? ${{ steps.cache-deps.outputs.used-cache }}"
      - name: Test code
        id: run-tests
        run: npm run test
      - name: Upload test report
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: test.json
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: using my custom action for install and cache deps
        uses: ./.github/actions/installing-caching-deps
      - name: Build website
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist-files
          path: dist
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Get build artifacts
        uses: actions/download-artifact@v7
        with:
          name: dist-files
          path: ./dist
      - name: Output contents
        run: ls
      - name: Output info from JS custom action
        uses: ./.github/actions/js-custom-action
      - name: Getting info from docker custom action
        uses: devopschannel23/docker-custom-action@v1
        with:
          name: 'John'

        